.git
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

*.db
*.sqlite
*.sqlite3
VetClinic/API/*.db
VetClinic/API/*.sqlite
VetClinic/API/*.sqlite3

reports/
pentest/reports/
certs/demo/*
.generated_grpc/

.env
*.env
.vscode/
.idea/
.DS_Store
